<div class="container-fluid" style="margin-top: 70px;">
  <div class="row">
    <!-- Columna izquierda -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 mb-3 image-container">
          <img src="../../../assets/informacion1.jpg" alt="Imagen 1" class="img-fluid">
        </div>
        <div class="col-md-12 mb-3 image-container">
          <img src="../../../assets/informacion2.jpg" alt="Imagen 2" class="img-fluid">
        </div>
      </div>
    </div>

    <!-- Columna central -->
    <div class="col-md-6">
      <!-- Contenedor de las tarjetas -->
      <div class="card-container" (click)="switchCards()">
        <div class="card bg-secondary text-white mb-4 front-card">
          <div class="card-body">
            <h2 class="card-title text-center display-4"><i class="fas fa-bullseye"></i> Misión</h2>
            <p class="card-text lead text-center text-md-start">Facilitar la gestión financiera eficiente y transparente para las micro, pequeñas y medianas empresas (MYPIMES), a través de una aplicación de caja menor intuitiva y adaptable. Nuestra misión es proporcionar herramientas tecnológicas accesibles que empoderen a las MYPIMES, permitiéndoles optimizar sus operaciones diarias y tomar decisiones informadas para su crecimiento y éxito a largo plazo.</p>
          </div>
        </div>
        <div class="card bg-dark text-white back-card">
          <div class="card-body">
            <h2 class="card-title text-center display-4"><i class="fas fa-eye"></i> Visión</h2>
            <p class="card-text lead text-center text-md-start">Convertirnos en el socio tecnológico de confianza para las MYPIMES, siendo reconocidos como la plataforma líder en la gestión de caja menor, impulsada por un enfoque multitenant innovador. Nos esforzamos por ser pioneros en soluciones financieras digitales que fomenten la inclusión, la transparencia y la eficiencia en el ecosistema empresarial, contribuyendo así al desarrollo económico sostenible a nivel local y global.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 mb-3">
          <img src="../../../assets/informacion3.jpg" alt="Imagen 3" class="img-fluid">
        </div>
        <div class="col-md-12">
          <img src="./../../assets/informacion4.jpg" alt="Imagen 4" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
