<!-- <div class="custom-container">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td class="text-center">{{ categoria.nombre }}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="container contenedor">
  <div class="row">
    <div class="col">
      <h1 class="col text-center">Listado de Categorias</h1>
      <div class="card">
        <p-table #dt1 [value]="categorias" [style]="{ marginTop: '20px' }" [tableStyle]="{ 'min-width': '60rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th style="font-size: 1.2rem;">Nombre</th>
              <!-- Aumentamos el tamaño de la letra en la cabecera -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-categoria>
            <tr>
              <td style="font-size: 1.1rem;">{{ categoria.nombre }}</td>
              <!-- Aumentamos el tamaño de la letra en el cuerpo de la tabla -->
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No hay Categorias para mostrar</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

