.card-container{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cont-component {
    position: relative;
    height: 100vh;
  }
  
  .cont-principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .card {
    width: 100%;
  }
  
  .btn-block {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .cont-principal {
      max-width: 100%;
    }
  }
  