<div class="additional-background">
  <div class="container">
    <h2 class="text-center">Generar Gráfico de Gastos</h2>
    <form (ngSubmit)="obtenerMovimientoDeC()">
      <div class="row align-items-end">
        <div class="col-md-4 mb-3">
          <label for="fechaInicio" class="form-label">Fecha de inicio:</label>
          <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" [(ngModel)]="fechaInicio">
        </div>
        <div class="col-md-4 mb-3">
          <label for="fechaFin" class="form-label">Fecha de fin:</label>
          <input type="date" id="fechaFin" name="fechaFin" class="form-control" [(ngModel)]="fechaFin">
        </div>
        <div class="col-md-2 mb-2">
          <label class="form-check-label">Filtrar por:</label>
          <div class="form-check">
            <input type="radio" id="categoria" name="filtro" value="categoria" class="form-check-input" [(ngModel)]="filtro">
            <label for="categoria" class="form-check-label">Categorías</label>
          </div>
          <div class="form-check">
            <input type="radio" id="tercero" name="filtro" value="tercero" class="form-check-input" [(ngModel)]="filtro">
            <label for="tercero" class="form-check-label">Proveedores</label>
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <button class="btn btn-primary" data-mdb-ripple-init type="submit">Generar Gráfico</button>
        </div>
      </div>
    </form>
  </div>

  <div class="charts-container">
    <!-- Gráfico de barras -->
    <div class="chart-container">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    
    <!-- Gráfico de torta -->
    <div class="chart-container">
      <canvas id="myChartTorta" width="400" height="400"></canvas>
    </div>
  </div>
</div>
