<div class="container">
  <h2>Cambiar Contraseña</h2>
  <div class="password-form">
    <form (ngSubmit)="changePassword()">
      <label for="newPassword">Nueva Contraseña:</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
      
      <div class="password-strength">
        <label>nivel de seguridad:</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngClass]="{
            'bg-danger': validatePassword() === 'Débil',
            'bg-warning': validatePassword() === 'Medio',
            'bg-success': validatePassword() === 'Fuerte'
          }" [style.width.%]="passwordStrengthPercentage()">
            {{ validatePassword() }}
          </div>
        </div>
      </div>

      <button type="submit" class="password-button">Cambiar Contraseña</button>
    </form>
  </div>
</div>
