// /* Estilos para el formulario */
// .form-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 120vh;
//   background-image: linear-gradient(to bottom, #b9bec0, #918e8e); /* Desde azul claro hasta blanco */
// }

// .form {
//   width: 50%;
//   margin: 90px auto;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-image: linear-gradient(to bottom, #b9bec0, #918e8e); /* Desde azul claro hasta blanco */
//   padding: 20px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Sombra suave */
// }
  
//   .form-label {
//     margin-bottom: 5px;
//     display: block;
//   }
  
//   .form-input {
//     width: 100%;
//     padding: 8px;
//     margin-bottom: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     box-sizing: border-box;
//   }
  
//   .form-select {
//     width: 100%;
//     padding: 8px;
//     margin-bottom: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     box-sizing: border-box;
//   }
  
//   // button  {
//   //   background-color: #007bff;
//   //   color: white;
//   //   border: none;
//   //   border-radius: 5px;
//   //   cursor: pointer;
//   //   width: 20%; /* Hacer que el botón ocupe todo el ancho disponible */
//   //   margin-left: 35%; /* Establecer margen izquierdo automático */
//   //   margin-right: 50%; /* Establecer margen derecho automático */
//   //   display: block; /* Asegurar que el botón sea un bloque para aplicar márgenes automáticamente */
//   //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Sombra suave */

//   // }
  
//   // .form-button:hover {
//   //   background-color: #0056b3;
//   // }
  
//   /* Estilos para la tabla */
//   .table-container {
//     margin: 20px;
//   }
  
//   .table {
//     width: 100%;
//     border-collapse: collapse;
//   }
  
//   .table th,
//   .table td {
//     padding: 8px;
//     border-bottom: 1px solid #ddd;
//   }
  
//   .table th {
//     background-color: #007bff;
//     color: white;
//   }
  

.cont-component {
  position: relative;
  height: 100vh;
}

.cont-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.card {
  width: 100%;
}

.btn-block {
  width: 100%;
}

@media (max-width: 768px) {
  .cont-principal {
    max-width: 100%;
  }
}
