<!-- <div class="custom-container">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tercero of terceros">
            <td>{{ tercero.nombreTercero }}</td>
            <td>{{ tercero.documentoTercero }}</td>
            <td>{{ tercero.direccionTercero }}</td>
            <td>{{ tercero.telefonoTercero }}</td>
            <td>{{ tercero.emailTercero }}</td>
            <td><button (click)="openEditModal(tercero)">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<div class="container contenedor mt-5" >
  <div class="title">
  </div>
  <div class="row">
    <div class="col">
      <h1 class="col text-center"  style="margin-top: 40px;">Listado de Proveedores</h1>
      <div class="card">
        <p-table #dt1 [value]="terceros" [rows]="10" [paginator]="true" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [loading]="loading"
          [globalFilterFields]="['nombreTercero', 'documentoTercero', 'direccionTercero', 'telefonoTercero', 'emailTercero']"
          [style]="{marginTop: '20px'}" [tableStyle]="{'min-width': '60rem'}">
          <ng-template pTemplate="caption">
            <div class="cont-search">
              <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="filterData($event)" placeholder="Buscar por palabra clave" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Nombre</th>
              <th>Documento</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tercero>
            <tr>
              <td>{{ tercero.nombreTercero }}</td>
              <td>{{ tercero.documentoTercero }}</td>
              <td>{{ tercero.direccionTercero }}</td>
              <td>{{ tercero.telefonoTercero }}</td>
              <td>{{ tercero.emailTercero }}</td>
              <td><button class="btn btn-primary" (click)="openEditModal(tercero)">Editar</button></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No hay Terceros para mostrar</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>