
  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="card-title mb-4 text-center fw-bold">Detalles de la solicitud {{ solicitud?.solicitudId }}</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong class="fs-5 fw-bold">Nombre:</strong> <span style="margin-left: 5rem;">{{ userData?.username }}</span>
          </li>
          <li class="list-group-item">
            <strong class="fs-5 fw-bold">Rol:</strong> <span style="margin-left: 5rem;">{{ userData?.rol }}</span>
          </li>
          <li class="list-group-item">
            <strong class="fs-5 fw-bold">Detalle:</strong> <span style="margin-left: 5rem;">{{ solicitud?.detalle }}</span>
          </li>
          <li class="list-group-item">
            <strong class="fs-5 fw-bold">Tercero:</strong> <span style="margin-left: 5rem;">{{ solicitud?.tercero.nombreTercero }}</span>
          </li>
          <li class="list-group-item">
            <strong class="fs-5 fw-bold">Categoría:</strong> <span style="margin-left: 5rem;">{{ solicitud?.categoria.nombre }}</span>
          </li>
          <li class="list-group-item">
              <span class="me-2 fw-bold fs-5">Factura:</span> 
              <button pButton type="button" icon="pi pi-download" class="p-button p-button-icon-only p-button-outlined p-button-sm p-button-info" style="height: 2rem; width: 2rem; border-radius: 50%; margin-left: 7rem;" (click)="verFactura()">
              </button>              
          </li>
        </ul>
      </div>
    </div>
  </div> -->
  
  <div class="container pt-2 pb-2">
    <div class="card card-container" style="width: 100%;">
      <div class="card-header fs-5 text-center">
        <h2 class="card-title mb-4 text-center fw-bold">Datos de solicitud # {{ solicitud?.solicitudId }}</h2>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Número</th>
              <td>{{ solicitud.solicitudId }}</td>
            </tr>
            <tr>
              <th>Nombre</th>
              <td>{{ userData?.username }}</td>
            </tr>
            <tr>
              <th>Rol</th>
              <td>{{ userData?.rol }}</td>
            </tr>
            <tr>
              <th>Fecha</th>
              <td>{{ solicitud.fecha }}</td>
            </tr>
            <tr>
              <th>Proveedor</th>
              <td>{{ solicitud.tercero?.nombreTercero }}</td>
            </tr>
            <tr>
              <th>Estado</th>
              <td>{{ solicitud.estado.nombre }}</td>
            </tr>
            <tr>
              <th>Detalle</th>
              <td>{{ solicitud.detalle }}</td>
            </tr>
            <tr>
              <th>Categoria</th>
              <td>{{ solicitud.categoria?.nombre }}</td>
            </tr>
            <tr>
              <th>Valor</th>
              <td>{{ solicitud.valor | currency }}</td>
            </tr>
            <tr>
              <th>Factura</th>
              <td>
                <button pButton type="button" icon="pi pi-download" class="p-button p-button-icon-only p-button-outlined p-button-sm p-button-info" style="height: 2rem; width: 2rem; border-radius: 50%; margin-left: 7rem;" (click)="verFactura()"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  