<div class="center-container">
  <div *ngIf="!mostrarCodigoInput" class="form-container">
    <div class="input-group">
      <input type="email" [(ngModel)]="email" placeholder="Correo electrónico" class="form-control">
      <small id="username-help">Escribe tu correo para iniciar sesión.</small>
      <!-- Mostrar información del correo -->
      <button class="btn btn-primary" (click)="solicitarRestablecimiento()">Enviar código de restablecimiento</button>
    </div>
  </div>
  
  <div *ngIf="mostrarCodigoInput" class="form-container">
    <small *ngIf="email" class="email-info">Se envió un correo de restablecimiento a {{ emailToShow }}</small>
    <div class="input-group">
      <input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña" class="form-control" id="password-input">
      <!-- Indicador de fortaleza de la nueva contraseña -->
      <div class="password-strength-indicator">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngClass]="{
            'bg-danger': validatePassword() === 'Débil',
            'bg-warning': validatePassword() === 'Medio',
            'bg-success': validatePassword() === 'Fuerte'
          }" [style.width.%]="passwordStrengthPercentage()">
            {{ validatePassword() }}
          </div>
        </div>
      <button class="btn btn-primary" (click)="resetPasswordhtml()">Restablecer contraseña</button>
    </div>
  </div>
