.contenedor {
    padding: 5rem 0;
  }
  
  .table th,
  .table td,
  .table label,
  .table input[type="date"],
  .table button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #555;
  }
  
  .table {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .cont-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cont-search button {
    margin-right: 10px;
  }
  