
  <div class="container d-flex justify-content-center needs-validation " style="margin-top: 80px; margin-bottom: 20px;" novalidate>
    <div class="card card-container" style="width: 40rem;">
      <div class="card-header fs-5 text-center">{{ operacion }} Ingreso <label *ngIf="id" class="form-label" for="solicitudIdInput">
          #:</label>
        <label *ngIf="id" id="solicitudIdInput">{{ formulario.ingresoId }}</label>
      </div>
      <div class="card-body">
        <form class="row g-3 p-4" (ngSubmit)="addIngreso()" #formContact="ngForm">
          <div class="col-md-6">
            <label class="form-label" for="fecha">Fecha de Solicitud</label>
            <input [(ngModel)]="formulario.fecha" name="fecha" class="form-control" type="date" id="fecha" required #fecha="ngModel" />
            <div class="alert alert-danger mt-2" [hidden]="fecha.valid || fecha.pristine">
              Debe seleccionar una fecha.
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label" for="valor">Valor solicitado</label>
            <input [(ngModel)]="formulario.valor" name="valor" class="form-control" type="number" id="valor" required #valor="ngModel"/>
            <div class="alert alert-danger mt-2" [hidden]="valor.valid || valor.pristine">
              Debe ingresar un valor numerico.
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label" for="detalle">Detalle del ingreso de caja</label>
            <textarea [(ngModel)]="formulario.detalle" name="detalle" class="form-control" id="detalle" rows="2" style="resize: none;" required #detalle="ngModel"></textarea>
            <div class="alert alert-danger mt-2" [hidden]="detalle.valid || detalle.pristine">
              Ingresa descripcion detallada del ingreso.
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mx-auto" [disabled]="formContact.invalid">Guardar</button>
            <button type="submit" class="btn btn-secondary mx-auto"><a style="text-decoration: none; color: white;" routerLink="/obtenerTodosLosIngresos" >Volver</a></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  