.container {
  background-color: #F8F9F9;
  padding: 30px;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cont-table{
  margin-top: 10px;
  padding: 2px;
  background-color: white;
}

.form-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.items-form {
  flex: 0 0 calc(26% - 20px); /* Ancho del 50% menos el margen */
  margin-bottom: 20px;
}

.items-form label {
  display: block;
  margin-bottom: 5px;
}

.items-form select,
.items-form input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.cont-form-booton {
  flex: 0 0 100%; /* El botón ocupa todo el ancho */
  text-align: center;
}

.cont-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cont-search button {
    margin-right: 10px;
  }
.pagination-controls {
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  li {
    margin-right: 5px; /* Espacio entre cada número de página */
  }

  a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #217be2;
    color: white;
  }

  a:hover {
    background-color: #0863db;
  }
}
